/* 
    Description:
        Styles for the details.jsp
*/

root 
{ 
    display: block;
}
.container
{
    width: 600px;
    margin: 0 auto;
}
.conflict
{
    border: 1px red solid;
    background-color: pink;
}
#main
{
    border: 1px blue solid;
    background-color: aqua;
}
.appointment
{
    margin-top: 20px;
    padding: 20px;
    height: 335px;
}
.users
{
    width: 100%;
}
.float
{
    float: left;
    width: 48%;
    margin-right: 1%;
}
.required, .guests
{
    overflow-y: scroll;
    height: 50px;
}
.td
{
    text-align: center;
}
.message
{
    float: left;
    width: 96%;
}
.contents
{
    margin-top: 10px;
    background-color: #e3ffff;
    overflow: scroll;
    width: 100%;
    height: 90px;
}
.action
{
    margin-top: 15px;
    width: 100%;
    float: left;
}
.warning
{
    margin-top: 20px;
    text-align: center;
    font-weight: 900;
}
#main .contents, #main .required, #main .guests
{
    padding: 2px;
    border: 1px blue solid;
    background-color: #e3ffff;
}
.conflict .contents, .conflict .required, .conflict .guests
{
    padding: 2px;
    border: 1px red solid;
    background-color: #ffded7;
}
.hidden
{
    height: 50px;
}
.expand
{
    float: right;
    font-size: 150%;
    color: red;
    font-weight: bolder;
}
.maximize
{
    height: 330px;
}
.guests, .required
{
    margin-bottom: 20px;
    margin-top: 10px;
}