/* 
    Description:
        Format the Home Page and various other pages
*/

root 
{ 
    display: block;
}
body
{
    text-align: center;
}
#container
{
    margin-left: auto;
    margin-right: auto;
    width: 750px;       
}
.shrink
{
    font-size: 78%;
}

#left, #right, #date, #login, #weekly_schedule 
{
    float: left;
}
#date
{
    width: 65%;
    text-align: center;
    font-size: 250%;
    font-weight: 900;
    margin-left: 20%;
    margin-bottom: 30px;
}
#right
{
    margin-left: 10px;
    height: min-content;
}
th .blank, th .selected
{
    height: min-content;
}
.clear { clear: both;}
/*Formatting for the sidebar*/
#left table, #left td, #left th
{
    border-collapse: collapse;
    border: solid black thin;
}
#left table
{
    margin-bottom: 5px;
}
td.selected
{   
    background-color:red;
}
tr.selected
{
    background-color:pink;
}
.activity
{
    font-size: 105%;
    font-weight: bolder; 
}
.activity a 
{
    color: red;
    font-weight: bolder;  
}
.month a 
{
    color: black;
    text-decoration:none;
}
.month a:hover 
{
    color: blue;
    text-decoration:none;
}
.month
{
    padding: 3px;
    border-bottom: solid;
    text-align: center;
}
.navigation
{
    margin-top: 10px;
    margin-bottom: 10px;
}
#left
{
    border: solid;
}
/*Formatting for the appointments*/
#weekly_schedule td, .link
{
    height: 35px;
}
table
{
    border-collapse: collapse;
}
td.start_approved
{
    background-color:greenyellow;
    border-top: black solid;
    border-left: black solid;
    border-right: black solid;
}
td.end_approved
{
    background-color:greenyellow;
    border-bottom: black solid;
    border-left: black solid;
    border-right: black solid;
}
td.single_approved
{
    background-color:greenyellow;
    border-top: black solid;
    border-bottom: black solid;
    border-left: black solid;
    border-right: black solid;
}
td.middle_approved
{
    background-color:greenyellow;
    border-left: black solid;
    border-right: black solid;
}

td.start_pending
{
    background-color:brown;
    border-top: black solid;
    border-left: black solid;
    border-right: black solid;
}
td.end_pending
{
    background-color:brown;
    border-bottom: black solid;
    border-left: black solid;
    border-right: black solid;
}
td.single_pending
{
    background-color:brown;
    border-top: black solid;
    border-bottom: black solid;
    border-left: black solid;
    border-right: black solid;
}
td.middle_pending
{
    background-color:brown;
    border-left: black solid;
    border-right: black solid;
}
td.blocked
{
    background-color:grey;
    border: black solid;
}
a
{
    color: black;
    text-decoration:none;
}
td.blank
{
    border: black 1px solid;
}
th.selected
{
    color: blue;
}
td.time
{    
    border-bottom: 1px dashed black;
}
td.none
{    
    border-bottom: 1px dashed black;
}
#weekly_schedule td.blank
{
    padding-bottom: 2px;
    width: 80px;
}
.available
{                
    border: black 1px solid;
}
.button
{
    width: 95%;
}
.month table
{
    margin: auto;
}